{#
 * Copyright 2014 Centre NTE <http://nte.unifr.ch>, Université de Fribourg, Suisse
 * 
 * This file is part of Equal+.
 *
 * Equal+ is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Equal+ is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Equal+.  If not, see <http://www.gnu.org/licenses/>.
 #}


{# src/NTE/EqualBundle/Resources/views/Default/index.html.twig #}
<!DOCTYPE html>
<html>
    <head>
    <title>{{ entry.nom }} - Université de Fribourg | Universität Freiburg</title>
    <link rel="shortcut icon" href="{{ asset('bundles/nteequal/images/favicon.ico') }}" type="image/x-icon" />
    <meta name="keywords" lang="fr" content="universit&eacute;, formation, suisse, fribourg, recherche, &eacute;tudes" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/nteequal/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/nteequal/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />

        <link href="{{ asset('bundles/nteequal/css/unifr.101.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link href="{{ asset('bundles/nteequal/css/common.101.css') }}" rel="stylesheet" type="text/css" media="all" />

        <link rel="stylesheet" href="{{ asset('bundles/nteequal/css/style.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/nteequal/css/index.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/nteequal/css/index-print.css') }}" type="text/css" media="print" />
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('bundles/nteequal/js/jquery-1.8.3.min.js') }}"></script>
   
        <script src="{{ asset('bundles/nteequal/js/bootstrap.min.js') }}" type="text/javascript"></script>
    {% endblock %}
    </head>

    <body>
            <!-- start:webpage -->
            <div id="webpage2" class="container-m main">
                <!-- start:identite -->
                <div id="identity" class="visible-desktop">
                    <div id="address">
                        <div class="txt">
                            <a href="{{ path('equal_home') }}">Equal +</a>
                        </div>
                    </div>
                    <div id="bandeau">
                        <a href="{{ path('equal_home') }}"><img alt="Université de Fribourg | Universität Freiburg" src="{{ asset('bundles/nteequal/images/bandeau_unifr_universite.jpg') }}" /></a>
                    </div>
                </div>
                <!-- end:identite -->

                <!-- start:navig -->
                <div id="navigBarre" class="visible-desktop">

                    <div id="nbLeft">
                    </div>

                    <div id="nbRight">
                    </div>

                </div>
                <!-- end:navig -->

            
                <!-- start:row -->
                <div class="row-fluid">
                    <div class="span3 visible-desktop">
                        <!-- start:colonneLeft -->
                            {% block menu_sideblock %}
                                <!-- start:menu-->
								<div id="menu">
    							</div><!-- end:menu-->
                            {% endblock %}
                        <!-- end:colonneLeft -->
                    </div>
                    
                    
                    <div class="span9">
                        <!-- start:colonneRight -->
                        <div id="content2">
                            {% block equal_content %}
                                <div>
                                    <h1>{{ approche }}</h1>
                                    <h2>{{ entry.nom }}</h2>
                                    <br />
                                    <p class="glo-content">{{ entry.description|replace({'href="glossaire': 'href="/equal/fr/glossaire' })|replace({'href="glossar': 'href="/equal/de/glossar' })|raw }}</p>
                                </div>
                            {% endblock %}
                        </div><!-- end:colonneRight -->
                    </div>

                </div><!-- end:row -->

                <!-- start:row -->
                <div class="row-fluid">
                    <div class="span9 offset3 visible-desktop">
                        <div id="footer"></div>
                    </div>
                </div><!-- end:row -->

                <!-- start:row -->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- start:signature -->
                        <div id="signature">
                            {{ 'footer_text'|trans|raw }}
                        </div><!-- end:signature -->
                    </div>
                </div><!-- end:row -->
                
                <!-- end:main -->

            </div><!-- end:webpage -->
    </body>
</html>
